*.egg-info
*.pyc
*.pyo
*.swp
.coverage*
.installed.cfg
.mr.developer.cfg
.tox/
bin/
build/
coverage.xml
default.profraw
develop-eggs/
develop/
dist/
docs/_build/
eggs/
htmlcov/
lib/
lib64
parts/
pyvenv.cfg
src/
