language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
env:
    - EXTRA=
matrix:
    include:
        - python: 2.7
          env: EXTRA=-zserver
        - python: "3.7"
          dist: xenial
          sudo: true
install:
    - pip install zc.buildout coverage coveralls
    - buildout bootstrap
    - buildout
script:
    - coverage run bin/test$EXTRA --all -cv
after_success:
    - coveralls
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
    - develop/
