include *.rst
include *.txt
include buildout.cfg
include buildout4.cfg
include tox.ini

recursive-include Products *.gif
recursive-include Products *.objects
recursive-include Products *.png
recursive-include Products *.txt
recursive-include Products *.xml
recursive-include Products *.zcml
recursive-include Products *.zpt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
